  /* extra small, under 500px FIXED POS */
body {
    width: 500px;
}
img, form, footer, table, p, article,figure, aside, video, header, h2, blockquote, audio, details, main{
    width: 500px;
    margin: 0px;
    margin-top: 5px;
    padding: 0;
}

header > nav > a {
    display:block;
    float: none;
    text-align: center;
}
 
header>h1 {
    text-align: center;
}

footer {
    position: static;
    bottom: 0;
}

table {
    border-style: solid;
    border-width: 1px;
}

pre {
    white-space: pre-wrap;
    width: 300px;
}

  @media only screen and (min-width: 510px) {
    body{
        width: 100%;
    }
    img, footer, form, header, table, p, article,figure, aside, video, h2, blockquote, audio, details, main{
        width: 100%;
        margin: 0%;
        margin-top: 2%;
        padding: 0%;
    }

    pre {
        width: 90%;
    }   
 }

 @media only screen and (min-width: 600px) {
    body {
        width: 100%;
    }

    footer,form, p, article, aside, header, h2, blockquote, details, main{
        width: 98%;
        margin: 2%;
    }
    table, img, audio, video {
        width: 70%;
        margin: 3%;
    }

    header {
        display:inline-block;
    }

    header>nav {
        overflow: hidden;
    }  
    header > nav > a {
        margin-left: 3%;
        float: left;
    }
    header > h1 {
        margin: 0;
        float:left;
    }

 }
 
 @media only screen and (min-width: 992px) {
     article, main {
         position: relative;
         margin: 0%;
     }
   
    aside {
        position: absolute;
        left: 50%;
        top: 10%;
        margin: 0;
        margin-left: 3%;
    }

    dl, table, audio, video, p, pre, img{
        width: 40%;
        margin-top: 0;
    }
    dl, table {
        margin: 3%;
    }

    form {
        width: 50%;
    }

    video {
        position: absolute;
        left: 0%;
        top: 100%;
    }
    blockquote {
        position: absolute;
        left: 50%;
        top: 10%;
    }
    audio {
        position: absolute;
        left: 50%;
        top: 30%;
    }
 }
 
 @media only screen and (min-width: 1200px) {
    body, header {
        width: 1200px;
    }

    article, main {
        margin: 0px;
    }

    aside {
        left: 600px;
        top: 20px;
        margin-left: 10px;
    }

    dl, table, audio, video, p, pre, img {
        width: 500px;
    }
    form {
        width: 600px;
    }

    video {
        left: 0px;
        bottom: 0px;
        width: 480px;
    }
   
   blockquote {
       left: 600px;
       top: 80px;
   }
   audio {
       left: 600px;
       top: 220px;
   }

 } 